:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
  display: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.space {
  display: block;
  width: 100%;
  height: 110px;
  background-color: #000;
}

.resetspace {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.opc {
  font-size: 1.2rem;
  position: relative;
  align-items: center;
  width: fit-content;
  justify-content: center;
  display: flex;
  padding: 5px 10px;
  color: #ffffff;
  text-shadow: #03e9f4;
  shape-outside: margin-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(255, 68, 0);
  margin-left: 5px;
  margin-right: 5px;
}

.opc:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #f40, 0 0 200px #f40;
}

.Cards {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cardsunit {
  height: fit-content;
  color: aliceblue;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(174, 0, 255, 0.388);
  border-radius: 2rem;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsunit:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #f40, 0 0 200px #f40;
}

.addbutton {
  float: right;
}

.link {
  width: 95%;
  height: 95%;
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.add {
  color: aliceblue;
}

.loadhome {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadinghome {
  position: center;
  font-size: 12rem;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  padding: 1rem 25rem 1rem;
  border: 0.5rem solid #fff;
  border-radius: 3rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

.loadinghome::-moz-selection {
  background-color: #08f;
  color: #f40;
}

.loadinghome::selection {
  background-color: #08f;
  color: #f40;
}

.loadinghome:focus {
  outline: none;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #f40,
      0 0 2rem #f40, 0 0 4rem #f40, 0 0 6rem #f40, 0 0 8rem #f40, 0 0 10rem #f40;

    box-shadow: 0 0 0.5rem #f40, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
      inset 0 0 2rem #08f, 0 0 4rem #08f, inset 0 0 4rem #08f;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.btn_reset {
  font-size: 2rem;
  position: relative;
  align-items: center;
  width: fit-content;
  justify-content: center;
  display: flex;
  padding: 5px 10px;
  color: #ffffff;
  text-shadow: #03e9f4;
  shape-outside: margin-box;
  transition: 0.5s;
  overflow: hidden;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb(103, 11, 184);
}

.btn_reset:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #f40, 0 0 200px #f40;
}
