.paginated {
  font-size: 10pt;
  line-height: 1;
  font-weight: 400;
  font-family: "Open Sans", "Source Sans Pro", Roboto, "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", "Myriad Pro", "Segoe UI", Myriad,
    Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans",
    "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 15px auto;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
}

.paginated ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  padding: 0.5em;
}

.paginated ul li {
  display: inline-block;
  font-size: 100%;
  border-radius: 3px;
}

.paginated button {
  margin: 2px;
}
