.paginated {
  font-size: 10pt;
  line-height: 1;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.paginated ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  padding: 0.5em;
}

.paginated ul li {
  display: inline-block;
  font-size: 100%;
  border-radius: 3px;
}

.paginated button {
  font-size: 1.5rem;
  position: relative;
  align-items: center;
  width: fit-content;
  justify-content: center;
  display: flex;
  padding: 5px 30px;
  color: #fff;
  text-shadow: #03e9f4;
  shape-outside: margin-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 5px;
  border-width: 2px;
  border-color: #fff;
  background-color: rgb(5, 150, 180);
  margin-left: 5px;
  margin-right: 5px;
}

.paginated button:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #f40, 0 0 200px #f40;
}
